
{% if __SELF__.property('show-category-title') %}
    <div class="col-xs-12 text-center">
        <h3 class="underline">{{__SELF__.getCategory().name}}</h3>
    </div>
{% endif %}

<div class="card-container">
	<div class="cards justify-content-between card-profiles ">
	{% if partner_id %}
		{% for item in __SELF__.getCategory().profiles.where('partner_id', partner_id).sortBy('sort_order').take(__SELF__.property('maxItems')) %}
		{% partial __SELF__ ~ "::templates/" ~ __SELF__.property('templates')
				fullname=item.names
				content=item.content
				country=item.country
				position=item.position
				url=item.slug
				department=item.department
				email=item.email
				avatar=item.resized_avatar
			%}
		{% endfor %}
	{% else %}
		{% for item in __SELF__.getCategory().profiles.sortBy('sort_order').take(__SELF__.property('maxItems')) %}
			{% partial __SELF__ ~ "::templates/" ~ __SELF__.property('templates')
				fullname=item.names
				content=item.content
				country=item.country
				position=item.position
				url=item.slug
				department=item.department
				email=item.email
				avatar=item.resized_avatar
			%}
		{% endfor %}
	{% endif %}
	</div>
</div>
